<include href="views/includes/header.html"></include>
<body>

<div class="container">
    
    <div class="row header">
        
        <div class="col-6">
            <h4><a href="/328/application">CodeCreate LLC</a></h4>
            <br>
            <h3><a href="/328/application">Software Development</a></h3>
            <br>
            <h5>Seattle Washington, Full-time, Remote/Office</h5>
            <br>
        </div>
    </div>

    <div class="main-block">
        <h1>Experience</h1>
        <hr>
        <form action="#" method="post" id="personalInfo">
            <div class="row experience">
                <div class="col-8">
                    <div class="from-group col-12">
                        <label for="biography">Biography</label>
                        <textarea name="biography" class="form-control" id="biography" rows="8"></textarea>
                    </div>
                </div>
                <div class="col-4 side">
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="gitLink">Github Link
                                <check if="{{ isset(@errors['git']) }}">
                                    <span class="err">{{ @errors['git'] }}</span>
                                </check>
                            </label>
                            <input type="text" name="gitLink" id="gitLink" value="" class="form-control" placeholder="github.com/my_github">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label class="col-12">Years Experience
                                <check if="{{ isset(@errors['yrExp']) }}">
                                    <span class="err">{{ @errors['yrExp'] }}</span>
                                </check>
                            </label>
                            <div class="col-12 options-row">
                                
                            
                                <repeat group="{{ @experience }}" value="{{ @exp }}">
                                    <div class="form-check form-check-inline">
                                        
                                        <input class="form-check-input"
                                               type="radio"
                                               name="years-experience"
                                               id="{{ @exp }}"
                                               value="{{ @exp }}"
                                        >
                                        <label class="form-check-label" for="{{ @exp }}">{{ @exp }}</label>
                                    </div>
                                </repeat>
                            
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label class="col-12">Willing To Relocate</label>
                            <div class="col-12 options-row">
                                
                                <repeat group="{{ @relocateOptions }}" value="{{ @relocateOption }}">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input"
                                               type="radio"
                                               name="relocate"
                                               id="{{ @relocateOption }}"
                                               value="{{ @relocateOption }}"
                                               checked="checked"
                                        >
                                            <label class="form-check-label" for="{{ @relocateOption }}">{{ @relocateOption }}</label>
                                    </div>
                                </repeat>
                                <br>
                            </div>
                        </div>
                    </div>
                    <button class="toMailing" type="submit" >Next ></button>
                </div>
            </div>
        </form>
    
    </div>
</div>
</body>
</html>