<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job Application</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <div class="container">

        <div class="row header">

            <div class="col-6">
                <h4>CodeCreate LLC</h4>
                <br>
                <h3>Software Development</h3>
                <br>
                <h5>Seattle Washington, Full-time, Remote/Office</h5>
                <br>
            </div>
            <div class="col-6">
                <button class="right" type="button" >APPLY NOW</button>
            </div>
        </div>
        <div class="row main-block">
            <div class="col-5">
                <h2>About the Job Position</h2>
                <hr>
                <p>We are searching for experienced professionals in Linux development.</p>
                <br>
                <h2>More About Us</h2>
                <hr>
                <p> We are a dynamic and innovative team of developers who are passionate
                    about creating cutting-edge software solutions that make a positive
                    impact on the world. Our focus is on delivering high-quality products
                    that exceed our clients' expectations and provide seamless user
                    experiences.</p>
                <br>
                <p>As a member of our team, you will have the opportunity to work on
                    cutting-edge projects, collaborate with talented developers and
                    designers, and grow your skills and expertise. We value diversity,
                    inclusivity, and open communication, and we believe in fostering a
                    supportive and collaborative work environment where everyone can thrive.</p>
                <br>
                <div class="team">
                    <h2>Meet Our Team</h2>
                    <hr>
                    <p>
                        "<i>Join us and have the potential to transform lives and make a positive impact.</i>"
                        -Robert, CEO
                    </p>
                    <br>
                    <p>
                        "<i>One of the things I appreciate most about our team is the level of
                        collaboration and support we offer one another. We're always learning
                        from each other and pushing each other to be our best selves.</i>"
                        - Tina, President
                    </p>
                    <br>
                    <p>
                        "<i>Our team has a real sense of purpose and mission. It's inspiring to know
                        that we're working on projects that have the potential to change people's
                        lives for the better.</i>" -Gabe, Senior Developer
                    </p>
                    <hr>
                    <div class="text-center">
                        <button class="middle" type="button" >APPLY NOW</button>
                    </div>

                </div>

            </div>
            <div class="col-7">
                <img src="images/office_photo.jpg" alt="Picture of out office">
            </div>
        </div>
        <div class="row footer"></div>
    </div>
</body>
</html>