<include href="views/includes/header.html"></include>
<body>

<div class="container">
    
    <div class="row header">
        
        <div class="col-6">
            <h4><a href="/328/application">CodeCreate LLC</a></h4>
            <br>
            <h3><a href="/328/application">Software Development</a></h3>
            <br>
            <h5>Seattle Washington, Full-time, Remote/Office</h5>
            <br>
        </div>
    </div>
    <div class="main-block">
        
        
        <h1>Job Openings Mailing Lists</h1>
        <hr>
        <form action="#" method="post" id="openings">
            
            <label>Software Development Jobs
                <check if="{{ isset(@errors['sdj']) }}">
                    <span class="err">{{ @errors['sdj'] }}</span>
                </check>
            </label>
            
            <div class="row">
                <repeat group="{{ @jobs }}" value="{{ @job }}">
                    <div class="col-md-3">
                        <div class="form-check">
                            <label class="form-check-label">
                            <input class="form-check-input"
                                   value="{{ @job }}"
                                   type="checkbox"
                                   id="{{ @job }}"
                                   name="sdj[]"
                            >{{ @job }}
                            </label>
                        </div>
                    </div>
                </repeat>
            </div>
            
            <label>Industry Verticals
                <check if="{{ isset(@errors['indV']) }}">
                    <span class="err">{{ @errors['indV'] }}</span>
                </check>
            </label>
            <div class="row">
                <repeat group="{{ @verticals }}" value="{{ @vertical }}">
                    <div class="col-md-3">
                        <div class="form-check">
                            <label class="form-check-label">
                            <input class="form-check-input"
                                   value="{{ @vertical }}"
                                   type="checkbox"
                                   id="{{ @vertical }}"
                                   name="indV[]"
                            >{{ @vertical }}</label>
                        </div>
                    </div>
                </repeat>
            </div>
            
            <div class="row">
                <div class="col-12">
                    <button class="toSummary" type="submit">Next ></button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>