<include href="views/includes/header.html"></include>
<body>

<div class="container">
    
    <div class="row header">
        
        <div class="col-6">
            <h4>CodeCreate LLC</h4>
            <br>
            <h3>Software Development</h3>
            <br>
            <h5>Seattle Washington, Full-time, Remote/Office</h5>
            <br>
        </div>
    </div>
    <div class="main-block">
        
        
        <h1>Job Openings Mailing Lists</h1>
        <hr>
        <form action="#" method="post" id="openings">
            
            <label for="sdevJobs">Software Development Jobs</label>
            <div class="row" id="sdevJobs">
                <div class="col-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="JavaScript">
                        <label class="form-check-label" for="JavaScript">
                            JavaScript
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="HTML">
                        <label class="form-check-label" for="HTML">
                            HTML
                        </label>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="PHP">
                        <label class="form-check-label" for="PHP">
                            PHP
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="CSS">
                        <label class="form-check-label" for="CSS">
                            CSS
                        </label>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Java">
                        <label class="form-check-label" for="Java">
                            Java
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="ReactJS">
                        <label class="form-check-label" for="ReactJS">
                            ReactJS
                        </label>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Python">
                        <label class="form-check-label" for="Python">
                            Python
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="NodeJs">
                        <label class="form-check-label" for="NodeJs">
                            NodeJs
                        </label>
                    </div>
                </div>
            </div>
            
            <label for="indVert">Software Development Jobs</label>
            <div class="row" id="indVert">
                <div class="col-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Saas">
                        <label class="form-check-label" for="Saas">
                            Saas
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="check2">
                        <label class="form-check-label" for="check2">
                            Industrial tech
                        </label>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="check3">
                        <label class="form-check-label" for="check3">
                            Health tech
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="check4">
                        <label class="form-check-label" for="check4">
                            Cybersecurity
                        </label>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="check5">
                        <label class="form-check-label" for="check5">
                            Ag tech
                        </label>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="check7">
                        <label class="form-check-label" for="check7">
                            HR tech
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button onclick="window.location.href = 'summary'" class="toSummary" type="button">Next ></button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>