<include href="views/includes/header.html"></include>
<body>

<div class="container">
    
    <div class="row header">
        
        <div class="col-6">
            <h4><a href="/328/application">CodeCreate LLC</a></h4>
            <br>
            <h3><a href="/328/application">Software Development</a></h3>
            <br>
            <h5>Seattle Washington, Full-time, Remote/Office</h5>
            <br>
        </div>
    </div>
    <div class="main-block">
        
        
        <h1>Job Openings Mailing Lists</h1>
        <hr>
        <form action="#" method="post" id="openings">
            
            <label>Software Development Jobs</label>
            <div class="row" id="sdevJobs">
                <div class="col-3">
                    <div class="form-check">
                        <label> <input class="form-check-input"
                                       type="checkbox"
                                       name="sdj[]"
                                       value="JavaScript"
                        > JavaScript </label>
                    </div>
                    <div class="form-check">
                        
                        <label><input class="form-check-input"
                                      type="checkbox"
                                      name="sdj[]"
                                      value="HTML"
                        > HTML </label>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-check">
                        <label><input class="form-check-input"
                                      type="checkbox"
                                      name="sdj[]"
                                      value="PHP"
                        > PHP </label>
                    </div>
                    <div class="form-check">
                        <label><input class="form-check-input"
                                      type="checkbox"
                                      name="sdj[]"
                                      value="CSS"
                        > CSS </label>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-check">
                        <label><input class="form-check-input"
                                      type="checkbox"
                                      name="sdj[]"
                                      value="Java"
                        > Java </label>
                    </div>
                    <div class="form-check">
                        <label><input class="form-check-input"
                                      type="checkbox"
                                      name="sdj[]"
                                      value="ReactJS"
                        > ReactJS </label>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-check">
                        <label><input class="form-check-input"
                                      type="checkbox"
                                      name="sdj[]"
                                      value="Python"
                        > Python </label>
                    </div>
                    <div class="form-check">
                        <label><input class="form-check-input"
                                      type="checkbox"
                                      name="sdj[]"
                                      value="NodeJs"
                        > NodeJs </label>
                    </div>
                </div>
            </div>
            
            <label>Industry Verticals</label>
            <div class="row" id="indVert">
                <div class="col-3">
                    <div class="form-check">
                        <label><input class="form-check-input"
                                      type="checkbox"
                                      name="indV[]"
                                      value="Saas"
                        > Saas </label>
                    </div>
                    <div class="form-check">
                        <label><input class="form-check-input"
                                      type="checkbox"
                                      name="indV[]"
                                      value="Industrial tech"
                        > Industrial tech </label>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-check">
                        <label><input class="form-check-input"
                                   type="checkbox"
                                   name="indV[]"
                                   value="Health tech"
                        > Health tech </label>
                    </div>
                    <div class="form-check">
                        <label><input class="form-check-input"
                                      type="checkbox"
                                      name="indV[]"
                                      value="Cybersecurity"
                        > Cybersecurity </label>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-check">
                        <label><input class="form-check-input"
                                      type="checkbox"
                                      name="indV[]"
                                      value="Ag tech"
                        > Ag tech </label>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-check">
                        <label><input class="form-check-input"
                               type="checkbox"
                               name="indV[]"
                               value="HR tech"
                        > HR tech </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="toSummary" type="submit">Next ></button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>