<include href="views/includes/header.html"></include>
<body>
<div class="container">
    <h1>Personal Information</h1>
    <hr>

    <!--<div class="container">-->

    <!--    <form action="#" method="post">-->
    <!--        <div class="row">-->
    <!--            <div class="col-8">-->
    <!--                <div class="row">-->
    <!--                    <label for="fname" class="col-4">First Name</label>-->
    <!--                    <label for="lname" class="col-4">Last Name</label>-->
    <!--                </div>-->
    <!--                <div class="row">-->
    <!--                    <input type="text" class="col-4" name="fname" id="fname" value="" placeholder="Sarah">-->
    <!--                    <input type="text" class="col-4" name="lname" id="lname" value="" placeholder="Smith">-->
    <!--                </div>-->

    <!--                <div class="row">-->
    <!--                    <label for="email" class="col-8">Email</label>-->
    <!--                </div>-->
    <!--                <div class="row">-->
    <!--                    <input type="email" name="email" id="email" value="" class="col-8" placeholder="my_email@gmail.com">-->
    <!--                </div>-->


    <!--                <div class="row">-->
    <!--                    <label for="state" class="col-4">State</label>-->
    <!--                    <label for="phone" class="col-4">Phone</label>-->
    <!--                </div>-->

    <!--                <div class="row">-->
    <!--                    <select id="state" name="state" class="col-4">-->
    <!--                        <option value="Washington">Washington</option>-->
    <!--                        <option value="Washington">Oregon</option>-->
    <!--                        <option value="Washington">California</option>-->
    <!--                    </select>-->
    <!--                    <input type="number" name="phone" id="phone" value="" class="col-4" placeholder="222-333-4444">-->
    <!--                </div>-->
    <!--            </div>-->

    <!--            <div class="col-4 note">-->
    <!--                <p><b>Note:</b> All information entered is protected by our <b>privacy policy.</b> Profile information can only be viewed by others with your permission.</p>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </form>-->
    <!--</div>-->

    <!--Named Grid System-->


    <!--<form action="#" method="post">-->
    <!--    <div class="named-container">-->
    <!--        <div class="fname">-->
    <!--            <label for="fname" class="col-4">First Name</label>-->
    <!--            <input type="text" class="col-4" name="fname" id="fname" value="" placeholder="Sarah">-->
    <!--        </div>-->
    <!--        <div class="lname">-->
    <!--            <label for="lname" class="col-4">Last Name</label>-->
    <!--            <input type="text" class="col-4" name="lname" id="lname" value="" placeholder="Smith">-->
    <!--        </div>-->
    <!--        <div class="email">-->
    <!--            <label for="email" class="col-8">Email</label>-->
    <!--            <input type="email" name="email" id="email" value="" class="col-8" placeholder="my_email@gmail.com">-->
    <!--        </div>-->
    <!--        <div class="state">-->
    <!--            <label for="state" class="col-4">State</label>-->
    <!--            <select id="state" name="state" class="col-4">-->
    <!--                <option value="Washington">Washington</option>-->
    <!--                <option value="Washington">Oregon</option>-->
    <!--                <option value="Washington">California</option>-->
    <!--            </select>-->
    <!--        </div>-->
    <!--        <div class="phone">-->
    <!--            <label for="phone" class="col-4">Phone</label>-->
    <!--            <input type="number" name="phone" id="phone" value="" class="col-4" placeholder="222-333-4444">-->
    <!--        </div>-->
<!--            <div class="note">-->
<!--                <p><b>Note:</b> All information entered is protected by our <b>privacy policy.</b> Profile information can only be viewed by others with your permission.</p>-->
<!--            </div>-->
    <!--        <div class="buttn">-->
    <!--            <button></button>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</form>-->

    <!-- Using Bootstrap form -->
    <div class="side col-4">
        <div class="note ">
            <p><b>Note:</b> All information entered is protected by our <b>privacy policy.</b> Profile information can only be viewed by others with your permission.</p>
        </div>
        <button class="col-12">Next ></button>
    </div>

    <form action="#" method="post">
        <div class="form-row">
            <div class="form-group col-6">
                <label for="fname">First Name</label>
                <input type="text" class="form-control" name="fname" id="fname" value="" placeholder="Sarah">
            </div>
            <div class="form-group col-6">
                <label for="lname">Last Name</label>
                <input type="text" class="form-control" name="lname" id="lname" value="" placeholder="Smith">
            </div>
        </div>

        <div class="form-group col-8">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" value="" class="form-control" placeholder="my_email@gmail.com">
        </div>

        <div class="form-row">
            <div class="form-group col-4">
                <label for="state">State</label>
                <select id="state" name="state" class="form-control">
                    <option value="Washington">Washington</option>
                    <option value="Washington">Oregon</option>
                    <option value="Washington">California</option>
                </select>
            </div>
            <div class="form-group col-4">
                <label for="phone">Phone</label>
                <input type="number" name="phone" id="phone" value="" class="form-control" placeholder="222-333-4444">
            </div>
        </div>
    </form>

</div>


</body>
</html>