<include href="views/includes/header.html"></include>
<body>
<div class="container">
    
    <div class="row header">
        
        <div class="col-6">
            <h4><a href="/328/application">CodeCreate LLC</a></h4>
            <br>
            <h3><a href="/328/application">Software Development</a></h3>
            <br>
            <h5>Seattle Washington, Full-time, Remote/Office</h5>
            <br>
        </div>
    </div>


    <div class="main-block">
        <h1>Personal Information</h1>
        <hr>
    
        <!-- Using Bootstrap form -->
        <form action="#" method="post" id="personalInfo">
            <div class="row">
                <div class="col-8">
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label for="fname">First Name
                                <check if="{{ isset(@errors['fname']) }}">
                                    <span class="err">{{ @errors['fname'] }}</span>
                                </check>
                            </label>
                            <input type="text" class="form-control" name="fname" id="fname" value="" placeholder="Sarah">
                        </div>
                        <div class="form-group col-6">
                            <label for="lname">Last Name
                                <check if="{{ isset(@errors['lname']) }}">
                                    <span class="err">{{ @errors['lname'] }}</span>
                                </check>
                            </label>
                            <input type="text" class="form-control" name="lname" id="lname" value="" placeholder="Smith">
                        </div>
                    </div>
    
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="email">Email
                                <check if="{{ isset(@errors['email']) }}">
                                    <span class="err">{{ @errors['email'] }}</span>
                                </check>
                            </label>
                            <input type="email" name="email" id="email" value="" class="form-control" placeholder="my_email@gmail.com">
                        </div>
                    </div>
    
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label for="state">State</label>
                            <select id="state" name="state" class="form-control">
                                <option value="Washington">Washington</option>
                                <option value="Washington">Oregon</option>
                                <option value="Washington">California</option>
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <label for="phone">Phone
                                <check if="{{ isset(@errors['phone']) }}">
                                    <span class="err">{{ @errors['phone'] }}</span>
                                </check>
                            </label>
                            <input type="number"
                                   name="phone"
                                   id="phone"
                                   class="form-control"
                                   placeholder="2223334444">
                        </div>
                    </div>
    
    
                </div>
    
                <div class="side col-4">
                    <div class="note">
                        <p><b>Note:</b> All information entered is protected by our <b>privacy policy.</b> Profile information can only be viewed by others with your permission.</p>
                    </div>
                    <button class="right" type="submit" >Next ></button>
                </div>
            </div>
    
    
    
        </form>
    </div>
</div>

</body>
</html>