<include href="views/includes/header.html"></include>

<body>

<div class="container">
    
    <div class="row header">
        
        <div class="col-6">
            <h4><a href="/328/application">CodeCreate LLC</a></h4>
            <br>
            <h3><a href="/328/application">Software Development</a></h3>
            <br>
            <h5>Seattle Washington, Full-time, Remote/Office</h5>
            <br>
        </div>
    </div>
    
    <div class="main-block summary">
        
        <div class="row">
            <div class="col-6">
                <ul id="summaryTable">
                    <li>Name: {{ @SESSION.applicant->getFName() }} {{ @SESSION.applicant->getLName() }}</li>
                    <hr>
                    <li>Email: {{ @SESSION.applicant->getEmail() }}</li>
                    <hr>
                    <li>State: {{ @SESSION.applicant->getState() }}</li>
                    <hr>
                    <li>Phone: {{ @SESSION.applicant->getPhone() }}</li>
                    <hr>
                    <li>Github Link: {{ @SESSION.applicant->getGitLink() }}</li>
                    <hr>
                    <li>Experience: {{ @SESSION.applicant->getExperience() }} years</li>
                    <hr>
                    <li>Willing To Relocate: {{ @SESSION.applicant->getRelocate() }}</li>
                    <check if="{{ @SESSION.mailing == 'optIn' }}">
                    <hr>
                    <li>Mailing Lists: {{ @SESSION.applicantSubscription->getSelectionsJobs() }}, {{ @SESSION.applicantSubscription->getSelectionsVerticals() }}</li>
                    </check>
                </ul>
            </div>
            <div class="col-6">
                <img src="images/profile.png" alt="Profile Photo">
            </div>
        </div>
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6">
                <h3>Summary</h3>
                <p>{{ @SESSION.applicant->getBio() }}</p>
            </div>
        </div>
        <div class="row">
            
            <button class="submit" type="button" >Submit My Application!</button>
        </div>
    </div>
</div>
</body>
</html>