<include href="views/includes/header.html"></include>
<!--<link rel="stylesheet" href="../styles/styles.css">-->
<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->

<body>

<div class="container">
    
    <div class="row header">
        
        <div class="col-6">
            <h4>CodeCreate LLC</h4>
            <br>
            <h3>Software Development</h3>
            <br>
            <h5>Seattle Washington, Full-time, Remote/Office</h5>
            <br>
        </div>
    </div>
    
    <div class="main-block summary">
        
        <div class="row">
            <div class="col-6">
                <ul id="summaryTable">
                    <li>Name: </li>
                    <hr>
                    <li>Email: </li>
                    <hr>
                    <li>State: </li>
                    <hr>
                    <li>Phone: </li>
                    <hr>
                    <li>Github Link: </li>
                    <hr>
                    <li>Experience: </li>
                    <hr>
                    <li>Willing To Relocate: </li>
                    <hr>
                    <li>Mailing Lists: </li>
                </ul>
            </div>
            <div class="col-6">
                <img src="images/profile.png" alt="Profile Photo">
            </div>
        </div>
        <div class="row">
            <div class="col-6"></div>
            <div class="sol-6">
                <h2>Summary</h2>
                <p></p>
            </div>
        </div>
        <div class="row">
            
            <button onclick="window.location.href = 'personal'" class="submit" type="button" >Submit My Application!</button>
        </div>
    </div>
</div>
</body>
</html>