
.main-block {
    background-color: #f1f1f1;
    padding: 30px;
}

.main-block h2{
    text-align: center;

}

img {
    border-radius: 5px;
    right: 0;
    float: right;
    width: 600px;
}

.container {
    width: 1200px;
    padding-top: 20px;
    padding-bottom: 20px;
}

p {
    font-size: 1.2em;
}

.team p{
    margin: 0 20px;
}

button {
    background-color: #91c543;
    border-radius: 5px;
    border: #91c543;
    font-weight: bold;
    color: #f1f1f1;
    padding: 5px 10px;
}

.middle {
    text-align: center;
}

.right {
    float: right;
}

.footer{
    height: 100px;
    background-color: #e6e6e6;
}

