
.main-block {
    background-color: #f7f7f7;
    padding: 30px 5px;
}

.main-block h2{
    text-align: center;

}

img {
    border-radius: 5px;
    right: 0;
    float: right;
    width: 600px;
}

.container {
    width: 1200px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#personalInfo {
    margin: 10px;
}

p {
    font-size: 1.2em;
    padding: 0;
}

.team p{
    margin: 0 20px;
}

button {
    background-color: #91c543;
    border-radius: 5px;
    border: #91c543;
    font-weight: bold;
    color: #f1f1f1;
    padding: 5px 10px;
}

.middle {
    text-align: center;
}

.footer{
    height: 100px;
    background-color: #e6e6e6;
}

.side button {
    width: 100%;
    margin-left: -15px;
}

#email {

}

.note {
    margin-top: 31px;
    background-color: #dcdde0;
    padding: 28px 20px 10px;
    border-radius: 5px;
    font-size: 0.81em;
    margin-left: -15px;

}

hr {
    border-top: 2px solid #dddbe7;
}

.side button {
    margin-top: 48px;
    width: 105%;
    height: 37px;
}


label {
    padding-left: 3px;
    font-weight: bold;
}



.named-container {
    width: 1200px;
    display: grid;
    grid-template-areas:
        "fname lname note"
        "email email note"
        "state phone buttn";
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(3, auto);
    gap: 0;
}

input {
    padding: 0;
    margin: 0;
    width: 100%;
}

.fname { grid-area: fname; }
.lname { grid-area: lname; }
.email { grid-area: email; }
.state { grid-area: state; }
.phone { grid-area: phone; }
.note  { grid-area: note;  }
.buttn { grid-area: buttn; }

